{% extends "header.html" %}


{% block content %}
<div class="container mt-5 w-50y">

    <div class="alert alert-secondary text-center display-4 py-4 mb-5">{{ titulo }}</div>
    

    <form method="POST" enctype="multipart/form-data" class="p-4 rounded shadow-sm bg-light">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="d-flex justify-content-end mt-4">
            {% if prev %}
            <a href="{{ prev }}" class="btn btn-outline-secondary me-3">Regresar</a>
            {% else %}
            <a href="/dashboard/" class="btn btn-outline-secondary me-3">Regresar</a>
            {% endif %}
            <input type="submit" class="btn btn-success" value="Guardar">
        </div>
    </form>
</div>
{% endblock %}