{% extends "header.html" %}

{% block customstyle %}
<style>
.empty-space {
  height: 40px;
}
</style>
{% endblock %}

{% block content %}
<div class="container mt-5 w-50">
  <div class="text-center bg-dark rounded">
    <p class="fs-2 text-white p-4">Soporte de Ticket</p>
  </div>
  <form method='POST' enctype="multipart/form-data">
    {{form.as_p}}
    {%csrf_token %}
    <a href="/" class="btn btn-primary">Regresar</a>
    <input type='submit' class="btn btn-success" value="Enviar">
  </form>
</div>
<div class="empty-space"></div>
{% endblock %}